/* Import in your CSS */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

#root {
  /* max-width: 1280px; */
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: sans-serif;
  background-color: blanchedalmond;
}
